<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Daftar Buku</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?auto=format&fit=crop&w=1350&q=80'); 
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200vh;
            margin: 0;
        }
        .card {
            height: 90%;
            min-height: 350px; 
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .card-img-top {
            height: 220px;
            object-fit: cover;
        }
        .card-title {
            font-size: 16px;
            margin-top: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container mt-0">
        <h2><b>Daftar Buku</b></h2>
        <div class="row">
            <div class="col-md-2 mb-4 d-flex">
                <div class="card">
                    <img src="https://ebooks.gramedia.com/ebook-covers/64810/image_highres/BLK_IKF2021198695.jpg" class="card-img-top" alt="Buku 2">
                    <div class="card-body">
                        <h5 class="card-title">Ilmu Kedokteran Forensik</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4 d-flex">
                <div class="card">
                    <img src="https://cdn.gramedia.com/uploads/picture_meta/2024/4/5/nzqr3ahwlvvl7twj4y9tx7.jpg" class="card-img-top" alt="Buku 3">
                    <div class="card-body">
                        <h5 class="card-title">Pengantar Ilmu Hukum</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4 d-flex">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqGr0eI-vLV3EJoQ-6mMnV0rJpqNWDVVdN_A&s.jgp" class="card-img-top" alt="Buku 4">
                    <div class="card-body">
                        <h5 class="card-title">Sejarah Dunia Lengkap</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4 d-flex">
                <div class="card">
                    <img src="https://bintangpusnas.perpusnas.go.id/api/getImage/978-623-02-1674-9.jpg" class="card-img-top" alt="Buku 5">
                    <div class="card-body">
                        <h5 class="card-title">Manajemen Teknik</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4 d-flex">
                <div class="card">
                    <img src="https://deepublishstore.com/wp-content/uploads/2018/01/Pengantar-Teknologi-Informasi-depan1.jpg" class="card-img-top" alt="Buku 6">
                    <div class="card-body">
                        <h5 class="card-title">Pengantar Teknologi Informasi</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4 d-flex">
                <div class="card">
                    <img src="https://deepublishstore.com/wp-content/uploads/2018/01/Pengantar-Teknologi-Informasi-depan1.jpg" class="card-img-top" alt="Buku 6">
                    <div class="card-body">
                        <h5 class="card-title">Pengantar Teknologi Informasi</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4 d-flex">
                <div class="card">
                    <img src="https://deepublishstore.com/wp-content/uploads/2018/01/Pengantar-Teknologi-Informasi-depan1.jpg" class="card-img-top" alt="Buku 6">
                    <div class="card-body">
                        <h5 class="card-title">Pengantar Teknologi Informasi</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4 d-flex">
                <div class="card">
                    <img src="https://deepublishstore.com/wp-content/uploads/2018/01/Pengantar-Teknologi-Informasi-depan1.jpg" class="card-img-top" alt="Buku 6">
                    <div class="card-body">
                        <h5 class="card-title">Pengantar Teknologi Informasi</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4 d-flex">
                <div class="card">
                    <img src="https://deepublishstore.com/wp-content/uploads/2018/01/Pengantar-Teknologi-Informasi-depan1.jpg" class="card-img-top" alt="Buku 6">
                    <div class="card-body">
                        <h5 class="card-title">Pengantar Teknologi Informasi</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4 d-flex">
                <div class="card">
                    <img src="https://deepublishstore.com/wp-content/uploads/2018/01/Pengantar-Teknologi-Informasi-depan1.jpg" class="card-img-top" alt="Buku 6">
                    <div class="card-body">
                        <h5 class="card-title">Pengantar Teknologi Informasi</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4 d-flex">
                <div class="card">
                    <img src="https://deepublishstore.com/wp-content/uploads/2018/01/Pengantar-Teknologi-Informasi-depan1.jpg" class="card-img-top" alt="Buku 6">
                    <div class="card-body">
                        <h5 class="card-title">Pengantar Teknologi Informasi</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4 d-flex">
                <div class="card">
                    <img src="https://deepublishstore.com/wp-content/uploads/2018/01/Pengantar-Teknologi-Informasi-depan1.jpg" class="card-img-top" alt="Buku 6">
                    <div class="card-body">
                        <h5 class="card-title">Pengantar Teknologi Informasi</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4 d-flex">
                <div class="card">
                    <img src="https://deepublishstore.com/wp-content/uploads/2018/01/Pengantar-Teknologi-Informasi-depan1.jpg" class="card-img-top" alt="Buku 6">
                    <div class="card-body">
                        <h5 class="card-title">Pengantar Teknologi Informasi</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4 d-flex">
                <div class="card">
                    <img src="https://deepublishstore.com/wp-content/uploads/2018/01/Pengantar-Teknologi-Informasi-depan1.jpg" class="card-img-top" alt="Buku 6">
                    <div class="card-body">
                        <h5 class="card-title">Pengantar Teknologi Informasi</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4 d-flex">
                <div class="card">
                    <img src="https://deepublishstore.com/wp-content/uploads/2018/01/Pengantar-Teknologi-Informasi-depan1.jpg" class="card-img-top" alt="Buku 6">
                    <div class="card-body">
                        <h5 class="card-title">Pengantar Teknologi Informasi</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4 d-flex">
                <div class="card">
                    <img src="https://deepublishstore.com/wp-content/uploads/2018/01/Pengantar-Teknologi-Informasi-depan1.jpg" class="card-img-top" alt="Buku 6">
                    <div class="card-body">
                        <h5 class="card-title">Pengantar Teknologi Informasi</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4 d-flex">
                <div class="card">
                    <img src="https://deepublishstore.com/wp-content/uploads/2018/01/Pengantar-Teknologi-Informasi-depan1.jpg" class="card-img-top" alt="Buku 6">
                    <div class="card-body">
                        <h5 class="card-title">Pengantar Teknologi Informasi</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4 d-flex">
                <div class="card">
                    <img src="https://deepublishstore.com/wp-content/uploads/2018/01/Pengantar-Teknologi-Informasi-depan1.jpg" class="card-img-top" alt="Buku 6">
                    <div class="card-body">
                        <h5 class="card-title">Pengantar Teknologi Informasi</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="#" class="btn btn-primary">Kembali ke Beranda</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
